block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Hotel search

        form(method='POST' action='/search')
          div.form-group
            label(for='city') City:
            input#city.form-control(type='text', placeholder='City' name='city')
          div.form-group
            label(for='checkin') Checkin date:
            input#checkin.form-control(type='text', placeholder='Check-in date' name='checkin')
          div.form-group
            label(for='checkout') Checkout date:
            input#pw2.form-control(type='text' name='checkout')
          button.btn.btn-primary(type='submit') Submit