html
 body
  table
    thead
      tr
        th Hotel Id
        th Name
        th Number of Reviews
        th Address
        th Number of Stars
        th Amenities
        th Image
        th Hotel.com price
        th Snaptravel price
    tbody
      each searchResult in searchResults
        tr
          td #{searchResult.id}
          td #{searchResult.name}
          td #{searchResult.num_reviews}
          td #{searchResult.address}
          td #{searchResult.num_stars}
          td #{searchResult.amenities}
          td 
            img(src=searchResult.image_url)
          td #{searchResult.price}
          td #{searchResult.snaptravelPrice}

